<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Main', root_path %></li>
    <li><%= link_to 'Testimonials', testimonials_path %></li>
    <li><%= link_to 'Help', help_path %></li>
  </ul>
</nav> 