<h1><%= @compression.name %></h1>
<p><span class="badge">Satellites count: <%= @compression.satellites.count %></span></p>
<%= @compression.description %>
<br>
<br>
<%= render @compression.satellites%>