<a href="<%= satellite_path(satellite) %>" class="list-group-item">
  <blockquote>
    <p><%= satellite.acronym %></p>
    <footer>
      <span><%= time_ago_in_words(satellite.created_at) %> ago</span>
    </footer>
  </blockquote>
</a>