<div class="page-header">
  <h2><%= @agency.acronym %></h2>
  <%= @agency.full_name %>
</div>
<% if session[:mentor_id] %>
    <%= link_to 'delete', @agency, method: :delete, class: 'btn btn-danger',
                data: { confirm: "You sure?" } %>
<% end %>