table
{
  border-collapse: collapse;
}
table th, td, tr
{
  border: 1px solid #000;
  background-color:#ccc;
  text-decoration:none;
  padding-top: 3px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 3px;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
  text-align: center;
}
table tbody
{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}