@import 'bootstrap';
h1
{
  color: green;
}
.centered
{
  text-align: center;
}
* {
  margin:0;
}

#footer
{
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 10%;
  height: 40px;
  justify-content: center;
}